<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>DetailPage</h1>
    <p>Title: <%= book.title %></p>
    <p>Summary: <%= book.summary %></p>
    <p>Author: <%= book.author %></p>
    <p>ISBN: <%= book.isbn %></p>
  </body>
</html> 