<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Add recipies here!</h1>
    <form action="/addpost" method="post">
        <input name="recipie" type="text" value="recipie" placeholder="Recipie header">
        <br>
        <p>Ingredient</p>
        <table id="ingredient">
            <tr>
                <th>Name: </th>
                <th>Amount: </th>
                <th>Unit: </th>
            </tr>
            <tr>
                <td><input name="name" type="text"></td>
                <td><input name="amount" type="number"></td>
                <td><input name="unit" type="text"></td>
            </tr>
            <tr>
                <td><input name="name" type="text"></td>
                <td><input name="amount" type="number"></td>
                <td><input name="unit" type="text"></td>
            </tr>
            <tr>
                <td><input name="name" type="text"></td>
                <td><input name="amount" type="number"></td>
                <td><input name="unit" type="text"></td>
            </tr>
        </table>
        <button id="button">add another ingredient</button>
        <br>
        <br>
        <textarea name="method" placeholder="add info here" rows="5" cols="40"></textarea>
        <br>
        <input type="submit" value="Add recipie">
    </form>
    <p>Recipies: </p>
    <table>
        <tr>
            <th>#</th>
            <th>Recipie name: </th>
            <th></th>
            <th></th>
        </tr>
        <% let counter = 0 %>
        <% for (recipie of recipies) { %>
            <% counter++ %>
            <tr>
                <td><%= counter %></td>
                <% if (recipie.recipie !== undefined) { %>
                <td><%= recipie.recipie %></td>
                <% } else { %>
                <td>...</td>
                <% } %>
                <td><a href="/edit/<%= recipie._id %>">Edit</a></td>
                <td><a href="/delete/<%= recipie._id %>">Delete</a></td>
            </tr>
        <% } %>
    </table>
</body>
</html>





















